body {
    text-align: center;
    background: lightblue;
}

.elyra {
    Width: 200px;
    left: 10px;
    position: absolute;
}

.hack {
    width:200px;
    right: 10px;
    position:absolute;
}

.nikit {
    width:400px;
    right: 100px;
}

ul {
    display: table;
    margin: 0 auto;
    padding: 0;
}

h1 {
    color:red;
}